nav {
    background-color: steelblue;
    padding: 10px;
}

nav {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

aside {
    width: 50%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }

h2 {
    color: steelblue;
}

img {
    width: min-content,max-content;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}