nav {
    background-color: steelblue;
    padding: 10px;
}

nav {
    color: white;
    display: block;
    padding: 20px;
}

main {
    width: 70.3%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: cornsilk;
    color:cornsilk;
    float: left;
}

h1 {
    color: steelblue;
}

section {
    background-color: steelblue;
    padding-top: 10px;
    padding-bottom: 10px;
}


aside {
    width: min-content;
    padding: 5px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    text-align: center;
  }

h2 {
    color: black;
    text-align: center;
}

img {
    width: min-content,max-content;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    width: auto;
    display: block;
    float: left;
    align-content: center;
}