nav {
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 5px;
}

main {
    max-width: 795px;
    margin: 1rem;
    border: 1px solid rgba (0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: cornsilk;
    color:cornsilk;
    float: left;
}

h1 {
    color: steelblue;
}

main img {
    width: 214px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

div {
    background-color: steelblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba (0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: lightgray;
    float: right;
    font-style: italic;
    text-align: center;
  }

aside h2 {
    color: black;
}

aside img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside div {
    width: auto;
    background-color: lightgray;
}

footer {
    margin-top: 37.3em;
    border-top: 1px solid #000;
    padding-top: 0.5px;
    text-align: center;
    background-color: white;
}